body {
  background-color: white;
  height: 100vh;
}

.button {
  height: 33vh;
  border: solid;
  background-color: cyan;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
}

.yellow-bg {
  background-color: green;
}
